apiVersion: v1
kind: Service
metadata:
  name: {{ include "klaus.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "klaus.labels" . | nindent 4 }}
  {{- if .Values.telemetry.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.port | quote }}
    prometheus.io/path: "/metrics"
  {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "klaus.selectorLabels" . | nindent 4 }}
